body { background: #af9348; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-payment-0 { color: #6deaba; font-size: 13px; margin-bottom: 5px; }
.block-user-1 { color: #26e040; font-size: 15px; margin-bottom: 5px; }
.block-sms-2 { color: #dfc4a1; font-size: 19px; margin-bottom: 5px; }
.block-database-3 { color: #4b69d4; font-size: 13px; margin-bottom: 5px; }
.block-sms-4 { color: #a9e2ea; font-size: 12px; margin-bottom: 5px; }
.block-order-5 { color: #701dde; font-size: 16px; margin-bottom: 5px; }